<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="wikieswan">

    
    <%- include('ui'); -%>
    

  </head>
  <body>
    <%- include('header'); -%>
    
    <div class="body-container">
        <%- include('content/goodsInfo'); -%>
    </div>  
    
    <%- include('footer'); -%>

    <%- include('jslib'); -%>
  </body>
</html>  